@page "{id:Guid?}"
@model PresentationPlanner.Areas.Contacts.Pages.CreateModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "New/Edit Contact";
}

<div class="row">
    @if (Model.Contact.Id == Guid.Empty)
    {
        <h2 class="text-info">New Contact</h2>
    }
    else
    {
        <h2 class="text-info">Change Contact Id: @Model.Contact.Id</h2>
    }
</div>
<form method="post" enctype="multipart/form-data">
    <div class="border background-white">
        <input type="hidden" asp-for="Contact.Id" />
        <div class="form-group row mb-3">
            <div class="col-2">
                <label asp-for="Contact.Name" class="label-weight-bold"></label>
            </div>
            <div class="col-5">
                <input asp-for="Contact.Name" class="form-control" />
                <span asp-validation-for="Contact.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row mb-3">
            <div class="col-2">
                <label asp-for="Contact.Phone" class="label-weight-bold"></label>
            </div>
            <div class="col-5">
                <input asp-for="Contact.Phone" class="form-control" />
                <span asp-validation-for="Contact.Phone" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row mb-3">
            <div class="col-2">
                <label asp-for="Contact.Email" class="label-weight-bold"></label>
            </div>
            <div class="col-5">
                <input asp-for="Contact.Email" class="form-control" />
                <span asp-validation-for="Contact.Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row mb-3">
            <div class="col-2">
                <label asp-for="Contact.Birth" class="label-weight-bold"></label>
            </div>
            <div class="col-5">
                <input asp-for="Contact.Birth" class="form-control" />
                <span asp-validation-for="Contact.Birth" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row mb-3">
            <div class="col-2">
                <label asp-for="Contact.PhotoUrl" class="label-weight-bold"></label>
            </div>
            <div class="col-5">
                <input type="file" asp-for="Contact.Picture" class="form-control" />
            </div>
        </div>
        <div class="form-group row mb-3">
            <div class="col-5 offset-2">
                <div class="row">
                    <div class="col-6">
                        @if (Model.Contact.Id == Guid.Empty)
                        {
                            <input type="submit" class="btn btn-success form-control" value="Save" />
                        }
                        else
                        {
                            <input type="submit" class="btn btn-warning form-control" asp-page-handler="Update" value="Change" />
                        }
                    </div>
                    <div class="col-6">
                        <a asp-page="Index" class="btn btn-danger form-control">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}