@page
@model PresentationPlanner.Areas.Contacts.Pages.IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Contacts List";
}
<div class="row">
    <div class="col-6">
        <h2 class="text-black">My Contacts</h2>
        <a asp-area="Contacts" asp-page="Create" class="btn btn-info">
            <i class="fas fa-plus">+</i>&nbsp; New
        </a>
    </div>
</div>